@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    color: azure;
    background-color: black;
}

h1,h2 {
    letter-spacing: 4px;
}


/* Style the header */

header {
    background-color: rgba(0, 0, 0, 0.881);
    display: flex;
    min-height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    flex-wrap: wrap;
    scroll-padding-top: 60px;
}

header>a {
    color: azure;
    margin-left: 30px;
    text-decoration: none;
    font-size: 15px;
    border: 1px solid azure;
    padding: 4px 7px;
    margin-bottom: 4px;
    overflow: hidden;
}

nav {
    height: 100%;
    overflow: hidden;
    width: auto;
}

nav ul {
    display: flex;
}

nav li {
    list-style-type: none;
}

nav li a:hover {
    color: #b0212b;
    border-bottom: 3px solid #b0212b;
}

li a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    color: azure;
}

/* Hero section */

.hero-image {
    background-image: url('../images/hero-image.webp');
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: flex-end;
    background-attachment: fixed;
}

.hero-div {
    max-width: 250px;
    background-color: rgba(255, 0, 0, 0.463);
    margin: 80px;
    color: azure;
    text-align: center;
    border-radius: 20px;
}

.hero-div p {
    font-size: 22.5px;
}

/* About section */

.about-section {
    background-color: black;
    height: auto;
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.about-section h1 {
    margin: 0 0 65px 0;
    /* padding-bottom: 60px; */
    font-size: 3em;
    text-align: center;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.about-image {
    width: 50%;
}

.about-image img {
    width: 100%;
}

.about-text {
    width: 40%;
    margin-left: 40px;
    text-align: center;
}

/* The Circuit section */

.circuit-background {
    background-image: url('../images/racetrack.webp');
    height: 700px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}



.circuit-container {
    width: 70%;
    background-color: rgba(0, 0, 0, 0.555);
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 50px 0;;
}

.circuit-text {
    width: 33%;
    text-align: center;
    margin-right: 60px;

}

.circuit-img {
    background-image: url('../images/trackwhite.png');
    height: 150px;
    width: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.circuit-text h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

/* Experiences section */
.experiences-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.experiences-flex {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.exp-section > h1 {
    text-align: center;
    font-size: 3em;
    margin: 20px 0;
    padding-top: 46px;
}

/* Car card */

.car-card {
    width: 355px;
    background-color: rgba(50, 49, 49, 0.76);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
/* Container with price */
.price-div {
    background-color: #b0212b;
    border-radius: 15px;
    padding: 10px;
    align-self: flex-end;
}

.price-div p {
    margin: 0;
}

.car-card>h1 {
    text-align: center;
    margin: 0;
}

/* Card image */
.car-image img {
    width: 291px;
    height: 291px;
}

.car-image img {
    width: 100%;
    border-radius: 20px;
    margin-top: 10px;
}
/* Card specifications */
.car-specs {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.specs-right {
    text-align: right;
}

.car-specs h4 {
    margin: 0;
    padding-top: 20px;
}

.car-specs p {
    margin: 0;
}

/* Card button book now */
.btn-book {
    text-decoration: none;
    color: azure;
    background-color: #b0212b;
    padding: 10px;
    border-radius: 15px;
    font-weight: 600;
    margin: 20px 0;
}
/* Button hover effect */
.btn-book:hover {
    background-color: #f13f4a;
    color: azure;
    scale: 1.1;
    transition: 0.3s;
}

/* Contact section */

.contact-img {
    background-image: url(../images/three-cars.webp);
    width: 100%;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-attachment: fixed;
}

.form-div {
    background-color: rgba(0, 0, 0, 0.632);
    border-radius: 20px;
    margin-left: 30px;
    padding: 20px 50px;
}

/* Form */

.form-input {
    background: transparent;
    border: 1px solid azure;
    color: azure;
    border-radius: 5px;
}

.form h1,
p {
    margin: 0;
    padding: 0;
}

fieldset {
    border-radius: 5px;
    margin: 10px 0;
    display: inline-block;
    width: 60%;
}

#submit-btn {
    background-color: #b0212b;
    color: azure;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
}

/* change calendar icon color on date input field */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    margin: 0px;
}

/* Footer */
footer {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 30px;
}

.footer-contact h4 {
    margin: 5px 0;
}

/* Footer social media links */
.footer-social {
    display: flex;
    align-items: flex-end;
}

.footer-social p {
    font-size: 22px;
    margin-right: 10px;
}

.footer-social a i {
    font-size: 30px;
    color: azure;
    padding: 10px;
}

.fa-twitter:hover,
.fa-facebook:hover {
    color: rgb(79, 141, 241);
}

.fa-youtube:hover {
    color: #b0212b;
}

/* Partners section */

.footer-partners {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-partners p {
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    border-bottom: 1px solid azure;
    margin: 30px 0;
}

.logo-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo-container img {
    filter: grayscale(100%);
}

.logo-container img:hover {
    filter: grayscale(0%);
    cursor: pointer;
}

#bugatti-logo {
    width: 150px;
    height: 77px;
}

#ferrari-logo {
    height: 140px;
    width: 87.73;
}

#mclaren-logo {
    height: 39px;
    width: 204;
}
/* Footer map iframe to stop overflow */
.footer-map iframe {
    max-width: 100%;
}

small a {
    text-decoration: none;
    color: azure;
}


/* Media queries  */

@media (max-width: 375px){
    nav li a {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    /* Header */
header {
    flex-direction: column;
    justify-content: center;
}

header > a {
    margin: 0;
}

 nav li a {
        font-size: 16px;
    }

nav ul {
    padding: 0;
}
/* Hero Section */
.hero-image {
    background-size: 110%;
    height: 280px;
    background-position:top 60px left 0px;
    align-items: center;
    display: flex;
}

.hero-div{
    margin: 0 0 0 10px;
    width: 180px;
}
.hero-div p {
    font-size: 16px;
    margin: 0;
}
.hero-div h2 {
    font-size: 18px;
    margin: 0;
    letter-spacing:normal;
}
/* About Section */

.about-section {
    padding-top: 10px;
}
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-section h1 {
    font-size: 25px;
    padding: 5px 20px;
    margin: 10px 0;
}
.about-image {
    width: 100%;
}
.about-image img {
    width: 100%;
    height: 250%;
}

.about-text {
    width: 90%;
    margin: 0;
}

.about-text h2 {
    font-size: 23px;
}

/* Circuit */

.circuit-container {
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.circuit-text {
    width: 90%;
    margin: 0;
}

.circuit-img {
    width: 80%;
}

/* Form */

.contact-img {
    background-position: right;
}

.form-div {
    width: 85%;
    margin-left: 5px;
    overflow: hidden;
}

/* Footer */

.partners-fieldset img {
width: 80px;
height: 80px;
}
.footer-div {
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.footer-contact {
    margin: 30px;
}

.footer-contact {
order: 1;
}

.footer-social {
order: 3;
}

.footer-map {
    order: 2;
}
}