@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}


/* Style the header */

header {
    background-color: black;
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header>a {
    color: azure;
    margin-left: 30px;
    text-decoration: none;
    font-size: 30px;
}

nav {
    height: 100%;
}

nav ul {
    display: flex;
}

nav li {
    list-style-type: none;
    padding-right: 20px;
}

li a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
    color: azure;
}

/* Hero section */

.hero-image {
    background-image: url('../images/hero-image.jpg');
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.hero-div {
    height: 250px;
    width: 250px;
    background-color: rgba(255, 0, 0, 0.463);
    margin: 80px;
    color: azure;
    text-align: center;
    border-radius: 20px;
}

.hero-div p {
    font-size: 22.5px;
}

/* About section */

.about-section {
    background-color: black;
    height: 600px;
    color: azure;
}

.about-section h1 {
    margin: 0;
    padding: 20px;
    font-size: 3em;
    text-align: center;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.about-container img {
    height: 350px;
    width: 600px;
}

.about-text {
    width: 33%;
    margin-left: 40px;
    text-align: center;
}

/* The Circuit section */

.circuit-main-image {
    background-image: url('../images/racetrack.jpg');
    height: 700px;
    width: 100%;
    background-size: cover;
}
